LeafDetectionV8/Plant Image Segmentation YOLO v8 Data/test
LeafDetectionV8/Plant Image Segmentation YOLO v8 Data/train_new
LeafDetectionV8/Plant Image Segmentation YOLO v8 Data/val
flask-yolo-app/venv
LeafClassification/PlantVillage
flask-yolo-app/static/uploads