<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
    <title>Real-time Video Detection</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Real-time Video Detection</h1>
        </div>
    </header>

    <main class="container">
        <button id="start-button" class="button">Start Video Feed</button>
        <button id="stop-button" class="button">Stop Video Feed</button>
        <br>
        <img id="video-feed" src="" style="display:none;">
        <br>
        <form id="upload-form" action="{{ url_for('upload_video') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="video/mp4" class="file-input">
            <input type="submit" value="Upload MP4" class="button">
        </form>
        <br>
        <a href="{{ url_for('index') }}" class="button">Back to Home</a>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Plant Disease Detector. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
